@media (width>=1024px) {

    .header__theme-menu {
        align-self: start;
        justify-self: center;        
    }

    .header__theme-menu-list {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .header__subtitle {
        width: 48vw;
    }
 
    .main__section-why {
        gap: 10px;
    }

    .main__section-what {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .subtitle-what {
        margin-block-start: 10px;
    }

    .main__section-how {
        gap: 10px;
    }

    .footer {
        margin-block-start: 60px;
    }

}
