@media (width>=768px) {

    :root {
        --fontSize-logo: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header {
        margin-block-end: 50px;
    }

    .header__title {
        margin-inline-start: -20px;
        font-size: var(--fontSize-logo);
    }

    .header__subtitle {
        width: 47.5vw;
    }

    .main__title {
        margin-block: 10px;
    }
  
    .main__section-why {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    }

    .title-what {
        max-width: 32%;
        margin-block-start: 79px;
    }
   
    .main__section-how {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        margin-block-start: 70px;
    }

    .main__section-how h2 {
        margin-block-start: 10px;
    }

    .main__gallery h2 {
        margin-block-start: 80px;
    }

    .main__gallery-list {
        display: grid;
    }

    .main__gallery-images {        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin-block-start: 20px;
        margin-block-end: 19px;
    }

    .sunset {
        grid-column: span 2;
    }

    .ice-cream {
        grid-row: span 2;
    }

    .tape {
        grid-row: span 2;
    }

    .books {
        grid-column: span 1;
    }

    .street {
        grid-column: span 2;
    }

    .footer {
        margin-block-start: 61px;
    }

    .footer__title {
        font-size: var(--fontSize-logo);
    }

}